<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    
    <div class="carousel-item active" style="background-image:url('assets/img/ed-sheeran.jpg')"></div>
    <div class="carousel-item" style="background-image:url('assets/img/metallica.jpg')"></div>
    <div class="carousel-item" style="background-image:url('assets/img/heroes.jpg')"></div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
<br>
<div class="container top-30 button-30">
<div class="row">
  <div class="col-md-4 text-center">
<img src="assets/img/artist.png">
<hr>
<h3>Artistas</h3>
  </div>
  <div class="col-md-4 text-center">
      <img src="assets/img/music.png">
      <hr>
      <h3>Musica</h3>
  </div>
  <div class="col-md-4 text-center">
      <img src="assets/img/album.png">
      <hr>
      <h3>Albums</h3>
  </div>
</div>
</div>
<br>
