<div class="container">
<div class="row top-30">
<div class="col-md-3">
<img [src]="artista.images | sinfoto" class="imf-fluid img-thumbnail">
</div>
<div class="col-md-9">
<h1 class="text-center">
    {{artista.name}}
</h1>
<hr>
<div class="text-center">
<button class="btn btn-outline-danger" [routerLink]="['/buscar']">
    Regresar a la busqueda
</button>
<button class="btn btn-outline-success">
        Abrir en Spotify
</button>
</div>
</div>
</div>
<br>
<h1 class="text-center">Top Tracks</h1>
<br>
<div class="row">
<div class="text-center" *ngFor="let item of top">
<div class="col-md-12">
    <ul>
        <li>
                <img [src]="item.album.images | sinfoto" class="imf-fluid img-thumbnail">
                <hr>
                <p>{{item.name}}</p>
        </li>
    </ul>
</div>
</div>
</div>
</div>